<?php

define ('DEBUG', true);
define ('DOMAIN', '');
define ('PATH', '');

define('SECRETKEY','');## Synchronizer Token Patternx

define ('ADAPTER','');##ver https://idiorm.readthedocs.org/en/latest/configuration.html#database-authentication-details
define ('HOST','');
define ('DBNAME','');
define ('USER', '');
define ('PASS', '');		

define('DEFAULT_CONTROLLER', '404');

define('DEFAULT_ACTION', 'index');

define('DEFAULT_TEMPLATE', 'commons/template'); 

define('ERROR_PAHT', ROOT.DS.'tmp'.DS.'error.log');